@font-face {
    font-family: "Lato";
    
    src: url("../fonts/lato/Lato-Bold.ttf") format("truetype");
    src: url("../fonts/lato/Lato-Black.ttf") format("truetype");
    src: url("../fonts/lato/Lato-Light.ttf") format("truetype");
    src: url("../fonts/lato/Lato-HairLine.ttf") format("truetype");
    src: url("../fonts/lato/Lato-Regular.ttf") format("truetype");
}