@keyframes zoomInOut{
  0% {
    // opacity:0;
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% { 
    // opacity:1;
    transform: scale(1);
  }
}

@keyframes flashIn{
  0% {
    opacity:0;
    transform: scale(0);
  }
  50% {
    transform: scale(0.7);
  }
  100% { 
    opacity:1;
    transform: scale(1);
  }
}