header{
	nav{
		background-color: $nav-background;
		.app-logo{
			height: inherit;
			img{
				height: inherit;
				// @media #{$small-and-down}{
				// 	height: $navbar-height-mobile;
				// }
				// @media #{$medium-and-down}{
				// 	height: $navbar-height-mobile;
				// }
				// @media #{$medium-only}{
				// 	height: $navbar-height-mobile;
				// }
				// @media #{$medium-and-up}{
				// 	height: $navbar-height;
				// }
				// @media #{$large-and-up}{
				// 	height: $navbar-height;
				// }
				// @media #{$x-large-and-up}{
				// 	height: $navbar-height;
				// }
			}
		}
		ul{
			a{
				transition: all 0.2s;
				&:hover{
					background-color: transparent;
					color: $secondary-color;
					transform: scale(1.1);
				}
			}
		}
	}
}