body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
.progress{
	margin: 0;
	bottom: 0;
	position: fixed;
	z-index: 998;
	height: 0.4rem;
	.determinate{
		background-color: $primary-color;
	}
}